/* Custom Common CSS start */
.ctm-100-vh{
    height: 100vh;
}
.ctm-overflow-hide{
    overflow: hidden;
}
.ant-input, .ant-select-selection--single{
    height: 50px;
}
.ctm-h-50{
    height: 50px;
}
table ul {
    list-style-type: none;
    padding: 0 !important;
}
.table-view{
    padding: 50px;
}
.table td, .table th {
    padding: .3rem;
    font-size: 11px;
}

/* Custom Common CSS end */